## .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log

## NuGet
packages/
*.nupkg

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## Test results
TestResults/
coverage*/

## OS files
Thumbs.db
.DS_Store
